<br />

<footer>
  <div class="container-fluid mw">
    <div class="row">
      <div class="col-sm-2">
        <div class="text-center">
          <img src="{{site.baseurl}}/img/wds_logo-03.png" alt="WDS logo" style="width:100px;">
        </div>
      </div>
      <div class="col-sm-4">
        <p><small>&copy;2014-2015 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia dignissimos voluptatem sit. Iste earum unde tempore soluta, quam harum, ex, quaerat</small></p>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Legal Notices</a>
          </li>
          <li>
            <a href="#">Report Trademark Abuse</a>
          </li>          
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled text-center">
          <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
          <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="#"><i class="fa fa-youtube fa-2x"></i></a>
        </ul>
      </div>
    </div>
  </div>
</footer>