<br>
<div class="info">
  <div class="row">
    <div class="col-sm-4">
      <h3>Why WDS?</h3>
    </div><!--/.span-->
    <div class="col-sm-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At iusto laudantium expedita excepturi fugit, aperiam dicta aliquid nostrum accusantium ratione praesentium aspernatur enim aliquam unde sapiente perspiciatis qui, ab vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ab nostrum aliquam tenetur voluptates molestiae, vitae minima ullam enim distinctio!</p>
    </div><!--/.span-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-sm-4">
      <h4>We are Global</h4>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>aliquam unde sapiente perspiciatis qui, ab vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet perspiciatis qui, ab vel.</li>
        <li>Ipsum dolor sit amet</li>
      </ul>
    </div><!--/.span-->
    <div class="col-sm-4">
      <h4>And so are our benefits...</h4>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>aliquam unde sapiente perspiciatis qui, ab vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet perspiciatis qui, ab vel.</li>
        <li>Ipsum dolor sit amet</li>
      </ul>
    </div><!--/.span-->
    <div class="col-sm-4">
      <h4>Because we love what we do!</h4>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>aliquam unde sapiente perspiciatis qui, ab vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet perspiciatis qui, ab vel.</li>
        <li>Ipsum dolor sit amet</li>
      </ul>
    </div><!--/.span-->
  </div><!--/.row-->
</div><!--/.info-->