{% assign au = false %}
{% assign ind = false %}
{% assign nz = false %}
{% assign sg = false %}
{% assign za = false %}
{% assign uk = false %}
{% assign us = false %}

{% for job in site.posts %}
  {% case job.country %}
    {% when 'Australia' %}
      {% assign au = true %}
    {% when 'India' %}
      {% assign ind = true %}
    {% when 'New Zealand' %}
      {% assign nz = true %}
    {% when 'Singapore' %}
      {% assign sg = true %}
    {% when 'South Africa' %}
      {% assign za = true %}
    {% when 'United Kingdom' %}
      {% assign uk = true %}
    {% when 'United States' %}
      {% assign us = true %}
    {% else %}
       
  {% endcase %}

{% endfor %}

<div class="map-container">
  <img class="map-img img-responsive" src="img/map.png" alt="map of the world">
  <div class="veil visible-xs"></div>
  <div class="map-pin-container hidden-xs">
    <div class="pin" id="au">
      <a href="{{site.baseurl}}/location/au.html" data-toggle="tooltip" data-placement="top" title="Australia {% if au == false %}No-Openings{% endif %}">
        <i class="fa fa-map-marker fa-fw fa-lg {% if au == false %}disabled{% endif %}"></i>
      </a>
    </div><!-- /.pin -->
    <div class="pin" id="in">
      <a href="{{site.baseurl}}/location/in.html" data-toggle="tooltip" data-placement="top" title="India {% if ind == false %}No&nbsp;Openings{% endif %}">
        <i class="fa fa-map-marker fa-fw fa-lg {% if ind == false %}disabled{% endif %}"></i>
      </a>
    </div><!-- /.pin -->
    <div class="pin" id="nz">
      <a href="{{site.baseurl}}/location/nz.html" data-toggle="tooltip" data-placement="top" title="New&nbsp;Zealand {% if nz == false %}No&nbsp;Openings{% endif %}">
        <i class="fa fa-map-marker fa-fw fa-lg {% if nz == false %}disabled{% endif %}"></i>
      </a>
    </div><!-- /.pin -->
    <div class="pin" id="sg">
      <a href="{{site.baseurl}}/location/sg.html" data-toggle="tooltip" data-placement="top" title="Singapore {% if sg == false %}No&nbsp;Openings{% endif %}">
        <i class="fa fa-map-marker fa-fw fa-lg {% if sg == false %}disabled{% endif %}"></i>
      </a>
    </div><!-- /.pin -->
    <div class="pin" id="za">
      <a href="{{site.baseurl}}/location/za.html" data-toggle="tooltip" data-placement="top" title="South&nbsp;Africa {% if za == false %}No&nbsp;Openings{% endif %}">
        <i class="fa fa-map-marker fa-fw fa-lg {% if za == false %}disabled{% endif %}"></i>
      </a>
    </div><!-- /.pin -->
    <div class="pin" id="uk">
      <a href="{{site.baseurl}}/location/uk.html" data-toggle="tooltip" data-placement="top" title="United&nbsp;Kingdom {% if uk == false %}No&nbsp;Openings{% endif %}">
        <i class="fa fa-map-marker fa-fw fa-lg {% if uk == false %}disabled{% endif %}"></i>
      </a>
    </div><!-- /.pin -->
    <div class="pin" id="us">
      <a href="{{site.baseurl}}/location/us.html" data-toggle="tooltip" data-placement="top" title="United&nbsp;States {% if us == false %}No&nbsp;Openings{% endif %}">
        <i class="fa fa-map-marker fa-fw fa-lg {% if us == false %}disabled{% endif %}"></i>
      </a>
    </div><!-- /.pin -->
  </div>
  <div class="map-text visible-xs">
    <ul class="list-unstyled text-center">
      <li>
        <a href="{{site.baseurl}}/location/au.html">Australia</a>
        {% if au == false %}<span class="label label-warning">no-openings</span>{% endif %}
      </li>
      <li>
        <a href="{{site.baseurl}}/location/in.html">India</a>
        {% if ind == false %}<span class="label label-warning">no-openings</span>{% endif %}
      </li>
      <li>
        <a href="{{site.baseurl}}/location/nz.html">New Zealand</a>
        {% if nz == false %}<span class="label label-warning">no-openings</span>{% endif %}
      </li>
      <li>
        <a href="{{site.baseurl}}/location/sg.html">Singapore</a>
        {% if sg == false %}<span class="label label-warning">no-openings</span>{% endif %}
      </li>
      <li>
        <a href="{{site.baseurl}}/location/za.html">South Africa</a>
        {% if za == false %}<span class="label label-warning">no-openings</span>{% endif %}
      </li>
      <li>
        <a href="{{site.baseurl}}/location/uk.html">United Kingdom</a>
        {% if uk == false %}<span class="label label-warning">no-openings</span>{% endif %}
      </li>
      <li>
        <a href="{{site.baseurl}}/location/us.html">United States</a>
        {% if us == false %}<span class="label label-warning">no-openings</span>{% endif %}
      </li>
    </ul>
  </div>
</div>