<ul class="team-icon-container list-unstyled clearfix">
  <li>
    <a href="#">
      <img src="http://placehold.it/135" class="img-circle" alt="icon">
      <span>Administration</span>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/135" class="img-circle" alt="icon">
      <span>Accounting Finance</span> 
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/135" class="img-circle" alt="icon">
      <span>Customer Service</span> 
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/135" class="img-circle" alt="icon">
      <span>Executive</span>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/135" class="img-circle" alt="icon">
      <span>Management</span>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/135" class="img-circle" alt="icon">
      <span>Human Resources</span> 
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/135" class="img-circle" alt="icon">
      <span>Information Technology</span> 
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/135" class="img-circle" alt="icon">
      <span>Legal</span>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/135" class="img-circle" alt="icon">
      <span>Marketing</span>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/135" class="img-circle" alt="icon">
      <span>Operations</span>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/135" class="img-circle" alt="icon">
      <span>Sales</span>
    </a>
  </li>
</ul>