{% assign adm = false %}
{% assign csv = false %}
{% assign exc = false %}
{% assign fin = false %}
{% assign hrs = false %}
{% assign ite = false %}
{% assign lgl = false %}
{% assign mgm = false %}
{% assign mkt = false %}
{% assign ops = false %}
{% assign sls = false %}

{% for job in site.posts %}
  {% case job.team %}
    {% when 'Administration' %}
      {% assign adm = true %}
    {% when 'Customer Service' %}
      {% assign csv = true %}
    {% when 'Executive' %}
      {% assign exc = true %}
    {% when 'Finance' %}
      {% assign fin = true %}
    {% when 'Human Resources' %}
      {% assign hrs = true %}
    {% when 'Information Technology' %}
      {% assign ite = true %}
    {% when 'Legal' %}
      {% assign lgl = true %}
    {% when 'Management' %}
      {% assign mgm = true %}
    {% when 'Marketing' %}
      {% assign mkt = true %}
    {% when 'Operations' %}
      {% assign ops = true %}
    {% when 'Sales' %}
      {% assign sls = true %}
    {% else %}
       
  {% endcase %}

{% endfor %}

<ul class="team-icon-container list-unstyled clearfix">
  <li>
    <a href="{{site.baseurl}}/team/administration.html" class="{% if adm == false %}disabled{% endif %}">
      <img src="{{site.baseurl}}/img/icons/adm.jpg" class="img-circle" alt="icon">
      <span>Administration</span>
      <span class="label label-warning">
        <i class="fa fa-ban"></i>
        <span class="hidden-xxs">No-Openings</span> 
      </span>
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/team/customer-service.html" class="{% if csv == false %}disabled{% endif %}">
      <img src="{{site.baseurl}}/img/icons/csv.jpg" class="img-circle" alt="icon">
      <span>Customer Service</span>
      <span class="label label-warning">
        <i class="fa fa-ban"></i>
        <span class="hidden-xxs">No-Openings</span> 
      </span> 
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/team/executive.html" class="{% if exc == false %}disabled{% endif %}">
      <img src="{{site.baseurl}}/img/icons/exc.jpg" class="img-circle" alt="icon">
      <span>Executive</span>
      <span class="label label-warning">
        <i class="fa fa-ban"></i>
        <span class="hidden-xxs">No-Openings</span> 
      </span>
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/team/finance.html" class="{% if fin == false %}disabled{% endif %}">
      <img src="{{site.baseurl}}/img/icons/fin.jpg" class="img-circle" alt="icon">
      <span>Finance</span>
      <span class="label label-warning">
        <i class="fa fa-ban"></i>
        <span class="hidden-xxs">No-Openings</span> 
      </span> 
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/team/human-resources.html" class="{% if hrs == false %}disabled{% endif %}">
      <img src="{{site.baseurl}}/img/icons/hrs.jpg" class="img-circle" alt="icon">
      <span>Human Resources</span>
      <span class="label label-warning">
        <i class="fa fa-ban"></i>
        <span class="hidden-xxs">No-Openings</span> 
      </span> 
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/team/it.html" class="{% if ite == false %}disabled{% endif %}">
      <img src="{{site.baseurl}}/img/icons/ite.jpg" class="img-circle" alt="icon">
      <span>Information Technology</span>
      <span class="label label-warning">
        <i class="fa fa-ban"></i>
        <span class="hidden-xxs">No-Openings</span> 
      </span> 
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/team/legal.html" class="{% if lgl == false %}disabled{% endif %}">
      <img src="{{site.baseurl}}/img/icons/lgl.jpg" class="img-circle" alt="icon">
      <span>Legal</span>
      <span class="label label-warning">
        <i class="fa fa-ban"></i>
        <span class="hidden-xxs">No-Openings</span> 
      </span>
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/team/management.html" class="{% if mgm == false %}disabled{% endif %}">
      <img src="{{site.baseurl}}/img/icons/mgm.jpg" class="img-circle" alt="icon">
      <span>Management</span>
      <span class="label label-warning">
        <i class="fa fa-ban"></i>
        <span class="hidden-xxs">No-Openings</span> 
      </span>
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/team/marketing.html" class="{% if mkt == false %}disabled{% endif %}">
      <img src="{{site.baseurl}}/img/icons/mkt.jpg" class="img-circle" alt="icon">
      <span>Marketing</span>
      <span class="label label-warning">
        <i class="fa fa-ban"></i>
        <span class="hidden-xxs">No-Openings</span> 
      </span>
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/team/operations.html" class="{% if ops == false %}disabled{% endif %}">
      <img src="{{site.baseurl}}/img/icons/ops.jpg" class="img-circle" alt="icon">
      <span>Operations</span>
      <span class="label label-warning">
        <i class="fa fa-ban"></i>
        <span class="hidden-xxs">No-Openings</span> 
      </span>
    </a>
  </li>
  <li>
    <a href="{{site.baseurl}}/team/sales.html" class="{% if sls == false %}disabled{% endif %}">
      <img src="{{site.baseurl}}/img/icons/sls.jpg" class="img-circle" alt="icon">
      <span>Sales</span>
      <span class="label label-warning">
        <i class="fa fa-ban"></i>
        <span class="hidden-xxs">No-Openings</span> 
      </span>
    </a>
  </li>
</ul>