@import "compass";
@import "_font-foco.scss";
@import "_variables.scss";
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/fontawesome/scss/font-awesome.scss";

.wds-logo{
  height:54px;
  position:relative;
  top:-6px;
}
.nav-footer{
  text-align: center;
  >li{
    float:none;
    display:inline-block;
  }
}
a:hover, a:focus{
  text-decoration: none;
}

.team-icon-container{
  display:inline-block;
  width: 470px;
  text-align: left;
  .label{
    display:none;
    font-size:14px;
    text-transform: none;
    font-weight: lighter;
  }
  >li{
    width:235px;
    height:225px;
    display:inline-block;
    vertical-align: top;
    text-align: center;
    float:left;
    >a{
      font-size: 18px;
      text-transform: uppercase;
      >span{
        display:block;
      }
      &.disabled{
        $disabled:#95a5a6;
        color:$disabled;
        @include opacity(0.5);
        .label{
          display:inline;
        }
      }
    }
  }
  @media(max-width:500px){
    display:block;
    width: 100%;
    >li{
      width: auto;
      height: auto;
      display:block;
      float:none;
      text-align: left;
      padding: 5px 15px;
      >a{
        text-transform: none;
        >img{
          height:65px;
          width: auto;
        }
        >span{
          display:inline-block;
        }
      }
    }
  }
  @media(min-width:768px){
    width:470px;
  }
  @media(min-width:991px){
    width:705px;
  }
  @media(min-width:1200px){
    width:940px;
  }
}

.map-container {
  position:relative;
  //background:url(../img/map.png) center center no-repeat;
  .map-img{
    
  }
  .veil, .map-pin-container{
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    position: absolute;
  }
  .map-pin-container{
    .pin{
      position: absolute;
      @include transform(translate(-50%, -100%));
      a{
        color:orange;
        @include text-shadow(0 -2px 0 tint(orange,50%),0 2px 0 darken(orange,30%));
        
        &:hover,&:focus{
          color:tint(orange,20%);
        }
        @media(min-width:990px){
          font-size:1.5em;
        }

        &.disabled{
          $disable: #5c6369;
          color: $disable;
          @include text-shadow(0 -2px 0 tint($disable,50%),0 2px 0 darken($disable,30%));
          //pointer-events:none;
        }

      }
      &#au{
        top:81%;
        left:86%;
      }
      &#in{
        top:61%;
        left:66.5%;
      }
      &#nz{
        top:89%;
        left:90.5%;
      }
      &#sg{
        top:66.2%;
        left:73.3%;
      }
      &#za{
        top:82.2%;
        left:52.3%;
      }
      &#uk{
        top:37%;
        left:45.8%;
      }
      &#us{
        top:49%;
        left:20%;
      }
    }
  }
  .veil{
    background:#000;
    @include opacity(0.8);
  }
  .map-text{
    padding:0 15px;
    position:absolute;
    top:50%;
    left:50%;
    @include transform(translate(-50%, -50%));
    width: 100%;

    a:hover, a:focus{
      color:#fff;
    }
  }
}

.social-widget{
  $dimension: 1.7em;
  $color1:#3498db;
  $color2:#e67e22;
  $color3:#e74c3c;
  $color4:#9b59b6;
  position:fixed;
  z-index:9999;
  width: $dimension;
  a{
    color:#fff;
    background:$color1;
    width:$dimension;
    line-height:$dimension;
    float:left;
    &:hover{
      text-decoration: none;
      background:tint($color1,10%);
    }
    &:nth-child(n+2){
      background:$color2;
      &:hover{
        background:tint($color2,10%);
      }
    }
    &:nth-child(n+3){
      background:$color3;
      &:hover{
        background:tint($color3,10%);
      }
    }
    &:nth-child(n+4){
      background:$color4;
      &:hover{
        background:tint($color4,10%);
      }
    }
  }
}

.nowrap{
  white-space: nowrap;
}

.job-list{
  .list-group-item{
    h4, p{
      margin:0;
    }
  }
}

.navbar{
  margin-bottom:0;
}
.navbar-nav{
  >li>a{
    line-height: 43px;
  }
}
.carousel{
  img{
    width:100%;
  }
  .fa{
    position:absolute;
    top:50%;
  }
}

.mw{
  max-width:960px;
  position:relative;
}

.jumbo{
  

  &.jumbo-top{
    background:url(../img/ofc-06.jpg) center center no-repeat;
    color:#fff;
    @include text-shadow(0 2px 5px black);
    background-size:cover;
    padding-top:20%;
    padding-bottom:50px;
    .btn{
      @include text-shadow(none);
    }
  }
  &.jumbo-two{
    background:url(../img/img-07.png) center bottom no-repeat;
    background-size:cover;
    padding-top:50px;
    padding-bottom:30%;
  }
}

.grid-container{
  $color: rgba(255,0,0,0.05);
  position:absolute;
  width: 100%;
  .grid{
    text-align: center;
    outline:1px solid $color;
    background: $color;
    background-clip:content-box;
    height:100vh;
  }
}

.info{
  ul{
    padding-left:20px;
  }
  h3{
    margin-top:0;
  }
  p{
    padding-bottom:30px;
  }
  padding:30px 20px; 
  background:#f8f8f8;
  border:1px solid #e7e7e7; 
}

footer{
  background:#f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding:30px 0; 
  h2{
    margin-top:0;
  }
}
