---
layout: default
---
<br>
{% assign country = page.country %}
<div class="container-fluid mw">
  
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/location">Browse by Location</a></li>
        <li class="active">{{page.country}}</li>
      </ol>

      <h1>Openings in {{page.country}}</h1>
      
      <p class="lead">{{page.content}}</p>
      <hr>
      {% include country-dropdown.html %}

      <ul class="list-group job-list">
        {% for job in site.posts %}
          {% if job.country == country %}
            <li class="list-group-item">
              <h4><a href="{{site.baseurl}}{{job.url}}">{{job.title}}</a></h4>
              <p>
                <span class="nowrap">
                  <i class="fa fa-fw fa-suitcase"></i> {{job.team}}
                </span>
                <span class="nowrap">
                  <i class="fa fa-fw fa-map-marker"></i> {{job.city}}
                </span>
              </p>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      

      {% include info.html %}

    </div><!--/.span-->
  </div><!--/.row--> 
</div><!--/.container-->