---
layout: default
---
<br>
{% assign team = page.team %}
<div class="container-fluid mw">
  
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/team">Browse by Team</a></li>
        <li class="active">{{page.team}}</li>
      </ol>

      <h1>Openings in {{team}}</h1>
      
      <p class="lead text-muted">{{page.content}}</p>
      <hr>
      {% include team-dropdown.html %}

      <ul class="list-group job-list">
        {% for job in site.posts %}
          {% if job.team == team %}
            <li class="list-group-item">
              <h4><a href="{{site.baseurl}}{{job.url}}">{{job.title}}</a></h4>
              <p>
                <span class="nowrap">
                  <i class="fa fa-map-marker"></i> {{job.country}}, {{job.city}}
                </span>
              </p>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      
      {% for job in site.posts %}
        {%if job.team == team %}
          {% assign teamMatch = true %}
          {% break %}
        {% else %}
          {% assign teamMatch = false %}
        {% endif %}
      {% endfor %}

      {% if teamMatch == false %}
        {% include job-not-found.html param=team %}
      {% endif %}

      {% include info.html %}

    </div><!--/.span-->
  </div><!--/.row--> 
</div><!--/.container-->