---
layout: default
---
<br>
{% assign team = page.team %}
<div class="container-fluid mw">
  
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/team">Browse by Team</a></li>
        <li class="active">{{page.team}}</li>
      </ol>

      <h1>Openings in {{team}}</h1>
      
      <p class="lead">{{page.content}}</p>
      <hr>
      {% include team-dropdown.html %}

      <ul class="list-group">
        {% for job in site.posts %}
          {% if job.team == team %}
            <li class="list-group-item">
              <h4><a href="{{site.baseurl}}{{job.url}}">{{job.title}}</a></h4>
              <p><i class="fa fa-map-marker"></i> {{job.country}}, {{job.city}}</p>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      

      {% include info.html %}

    </div><!--/.span-->
  </div><!--/.row--> 
</div><!--/.container-->