---
layout: default
---
<br>
<div class="container-fluid mw">
  
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="{{site.baseurl}}/" class="nowrap">Home</a></li>
        <li class="active"><span class="nowrap">Browse by Location</span></li>
      </ol>

      <h1>Openings by location</h1>
      
      <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, quisquam deleniti voluptatibus error et veritatis delectus, harum. Animi obcaecati earum consequuntur officiis, facilis distinctio expedita cumque ratione ea natus quidem.</p>
      
      <hr>

      {% include country-dropdown.html %}
      
      <ul class="list-unstyled">
      {% for data in site.data.countries %}

        {% for job in site.posts %}
          {%if job.country == {{data.country}} %}
            {% assign countryMatch = true %}
            {% break %}
          {% else %}
            {% assign countryMatch = false %}
          {% endif %}
        {% endfor %}

        {%if countryMatch %}
          <li>
            <h4><b><a href="{{site.baseurl}}/location/{{data.url}}">{{data.country}}</a></b></h4>
            <ul class="list-group job-list">
              {% for post in site.posts %}
                {% if post.country == {{data.country}} %}
                <li class="list-group-item">
                  <h4><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h4>
                  <p>
                      <i class="fa fa-fw fa-suitcase"></i> {{post.team}}
                    <span class="nowrap"> 
                      <i class="fa fa-fw fa-map-marker"></i> {{post.city}}
                    </span>
                  </p>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endif %}
        
      {% endfor %}
      
      </ul>

      {% include info.html %}

    </div><!--/.span-->
  </div><!--/.row--> 
</div><!--/.container-->